<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
<div class="card" data-aos="fade-right">
    <img src="../../assets/subcards/coffee-5893926_640.jpg" alt="">
    <h1>COLD COFFEE</h1>
    <p> Strating from $15</p>
    <button class="btn buttoncolor" (click)="onclick()">Explore now</button>
</div>
    </div>

    <div class="col">
        <div class="card" data-aos="flip-right">
            <img src="../../assets/subcards/fruity-mojito-copy-6489c43757979.avif" alt="">
            <h1>Mojitos</h1>
            <p>Strating from $20</p>
            <button class="btn buttoncolor" (click)="onclick()">Explore now</button>
        </div>
            </div>

            <div class="col">
                <div class="card" data-aos="fade-left">
                    <img src="../../assets/subcards/pngtree-hot-coffee-image-background-image_15627251.jpg" alt="">
                    <h1>Hot COFFEE</h1>
                    <p>Strating from $10</p>
                    <button class="btn buttoncolor" (click)="onclick()">Explore now</button>
                </div>
                    </div>

                    
</div>
